@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --txt-font: "Quicksand", sans-serif;
  --main-color: #fb8c00;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--txt-font);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1 0 auto;
}

footer {
  bottom: 0 !important;
}

h4 {
  font-size: 1.5em !important;
  text-align: center;
}

.logo-section {
  height: 100vh;
  background: var(--main-color) url("assets/logo-section-library-img.jpg")
    no-repeat center fixed;
  background-size: cover;
}

.logo-container {
  border-radius: 50%;
  padding: 5px;
}

.search-field {
  color: #fff;
}

.side-image {
  background: var(--main-color) url("assets/library.jpg")
    no-repeat center;
  background-size: cover;
}

.h-90 {
  height: 90vh !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-10 {
  margin-bottom: 10px;
}

@media only screen and (max-height: 768px) {
  h4 {
    font-size: 1.2em !important;
    text-align: center;
  }

  .about-section {
    height: 120vh;
  }
}

@media (min-width: 900px) and (max-width: 994px) {
  .about-section {
    height: 120vh;
  }
}
